<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01365E171BFD72D400A063AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E857641B1D9AFE00BCE70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01E8577D1B1D9AFF00BCE70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
