<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>家庭成员</string>
		<key>imagename</key>
		<string>headportrait_boy_160</string>
		<key>tag</key>
		<integer>1000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>安全围栏</string>
		<key>imagename</key>
		<string>headportrait_boy_160</string>
		<key>tag</key>
		<real>1002</real>
	</dict>
	<dict>
		<key>name</key>
		<string>分享宝贝</string>
		<key>imagename</key>
		<string>headportrait_boy_160</string>
		<key>tag</key>
		<real>1005</real>
	</dict>
</array>
</plist>
